# Discord Bot
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
ALERT_CHANNEL_ID=
ALERT_MENTION_ID=

# Wazuh Server (your Tailscale IP)
WAZUH_IP=
WAZUH_USER=wazuh-wui
WAZUH_PASS=wazuh-wui
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=

# VirusTotal
VT_API_KEY=

# Poller Settings
POLLER_LEVEL=10
POLLER_INTERVAL=30